html {
  font-size: 14px;
}

html,
body {
  font-family: $def-font;
  color: $def-color;
  min-width: 320px;
}

body {
  background-color: #f8f8f8;
}

img {
  display: inline-block;
  max-width: 100%;
}

nav {
  position: relative;
  z-index: 9999;
  .logo {
    width: 151px;
  }
  .dark-log {
    display: none;
  }

  .nav-cart {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    background: $accent-background url(./assets/img/icons/shape.svg) no-repeat center;
    background-size: 18px;
    margin-left: 10px;
    transition: all 0.255s;
    &:hover {
      transform: rotate(360deg);
    }
  }

  &.dark-nav {
    background: $def-color;
    .left-line:before {
      background: $white;
    }
    #nav_collapse .navbar-nav a {
      color: $white;
      &:hover {
        color: $accent-color;
      }
      &.active {
        color: $accent-color;
      }

    }
    .dark-log {
      display: block;
    }
    .light-log {
      display: none;
    }
    .nav-cart {
      background-image: url(./assets/img/icons/shape-white.svg);
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  border: none;
  padding: 0.5em 1em;
}

input, textarea {
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid $def-color;
  padding: 0.5em 0;
}

label {
  cursor: pointer;
}

#nav_collapse {
  .navbar-nav {
    align-items: center;
    font-weight: 500;
    //justify-content: space-evenly;
    a {
      color: $md-color;
      white-space: nowrap;
      &:hover {
        color: $accent-color;
      }
      &.active {
        color: $accent-color;
      }
    }
  }
}

.left-line {
  &:before {
    content: '';
    display: none;
    height: 1px;
    width: 29px;
    background: $md-color;
  }
}

.navbar-toggler {
  border: 1px solid $def-color;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  width: 50px;
  height: 40px;
  .navbar-toggler-icon {
    border-bottom: 2px solid $def-color;
    border-top: 2px solid $def-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    width: 100%;
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      border-top: 2px solid $def-color;
    }
  }

}

.dark-nav {
  .navbar-toggler {
    border: 1px solid $white;
    .navbar-toggler-icon {
      border-bottom: 2px solid $white;
      border-top: 2px solid $white;
      &:after {
        border-top: 2px solid $white;
      }
    }
  }
}

.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 10px;
}

@media (min-width: 768px) {
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) and (min-width: 991px) {
  .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 12px;
  }

}

@media (min-width: 992px) {
  .left-line {
    &:before {
      display: block;
    }
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
  }
}

@media all and (max-width: 767px) {
  #nav_collapse .navbar-nav a {
    font-size: 14px;
  }
  nav:not([class='dark-nav']) {
    background-image: linear-gradient(180deg, #66d9d9 100%, #00b8b5 0%);

    #nav_collapse .navbar-nav a {
      color: $white;
    }
  }
  nav .nav-cart {
    margin: 0;
  }
}

.btn {
  border-radius: 0;
}

.hot-category {
  padding-top: 55px;
  padding-bottom: 70px;
  .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .image-item {
      width: 100%;
      overflow: hidden;
      .img {
        padding-bottom: 100%;
        background-size: cover;
        background-position: center;
        transition: all .3s ease;

      }
    }
    .name-item {
      margin-top: -22px;
      height: 44px;
      position: relative;
      z-index: 999;
      padding: 10px 13px;
      display: inline-flex;
      background: $bg-color;
      color: $white;
      font-family: $accent-font;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .5px;
    }
    &:hover {
      cursor: pointer;
      .image-item {
        .img {
          transform: rotate(2deg) scale(1.1);
        }
      }
      .name-item {
        background: $black;
      }
    }
  }
}

.special-offers {
  margin-bottom: 85px;
  height: 355px;
  background-image: url("./assets/img/kitchen.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  .content-block {
    display: flex;
    justify-content: flex-end;
  }
  .info-block {
    padding: 70px 35px 0;
    background: $accent-background;

    width: 335px;
    height: 355px;
  }
  .title-offers {
    color: #1f1f1f;
    font-family: $accent-font;
    font-size: $lg-font;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.36px;
  }
  .product-name {
    margin: 15px 0 10px;
  }
  .price-block {
    display: flex;
    .old-price {
      color: $md-color;
      font-size: $def-font;
      font-weight: 700;
      text-decoration: line-through;
      letter-spacing: 0.33px;
      display: flex;
      align-items: center;
      margin: 0 10px;
    }
    .price {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.33px;
    }
  }
  .timer-offer {
    display: flex;
    justify-content: space-between;
    margin: 0 -20px;
    margin-top: 39px;

    .data-block {
      width: 72px;
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 0.33px;
      background: $def-color;
      text-align: center;
      padding-top: 5px;
      .name-data {
        font-size: 10px;
        margin-bottom: 10px;
        font-weight: 400;
      }
    }

  }
}

.hot-news {
  .item-hot-new {
    border: 1px solid #e1e1e1;
    margin-bottom: 37px;
    .img-new {
      a {
        display: block;
        padding-top: 66%;
        background-size: cover;
        background-position: center;
      }
      margin-bottom: 15px;
    }

    .title-new,
    .small-new,
    .date-new {
      padding: 0 15px;
    }
    .title-new {
      font-weight: 500;
    }
    .small-new {
      margin-bottom: 20px;
    }
    .date-new {
      color: $accent-color;
      margin-bottom: 10px;
    }
  }

}

.sing-up {
  background-image: url(./assets/img/peaches-lg.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  .title-form {
    font-family: $accent-font;
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 25px;
  }
  .form-sing-up {
    background: rgba(255, 255, 255, 0.63);
    padding: 8% 5% 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.36px;
      margin-bottom: 25px;
    }
    input {
      width: 60%;
      margin-right: 5%;
      font-style: italic;
    }
    button {
      padding: 0.5em 1.5em;
    }
  }
}

.vue-slider-component {
  .vue-slider-process,
  .vue-slider-dot {
    background-color: $balck;
  }

}

.info-show {
  color: #a7a7a7;
  font-size: 10px;
  font-weight: 400;
}

.orderby {
  color: $md-color;
  padding: 5px 10px;
  width: 201px;
  height: 38px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-weight: 400;
}

.flip-list-move {
  transition: transform 1s;
}

.form-group {
  position: relative;
  margin-bottom: 1em;
  .error-field {
    position: absolute;
    bottom: -1.5em;
    font-size: 1em;
    font-style: italic;
    & + input,
    & + textarea{
      border-color: $bg-accent-light;
    }
  }
}
