<template>
    <section class="blog-page">
        <div class="top-bg">

        </div>
        <div class="title-page">
            <span>
                Blog
            </span>
        </div>
        <div class="container post-list">
            <div class="row">
                <posts-list v-for="(post, key) in blogData.data" :post="post" :key="key"></posts-list>
            </div>
        </div>
    </section>
</template>

<script>
    import postsList from '../components/postsList'
    import blogData from '../blog-posts';


    export default {
        name: "BlogPage",
        components:{
            'posts-list': postsList
        },
        data() {
            return {
                blogData: blogData

            }
        }
    }
</script>

<style scoped>

</style>
