<template>
    <section class="contact-us">
        <div class="top-block-map" id="map">

        </div>

        <div class="snoops">
            <div class="container">
                <div class="title-page">Contact Us</div>
                <div class="sub-title">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet iaculis ipsum aliquet
                    ultricies. Sed a tincidunt enim. Maecenas ultrices viverra ligula, vel lobortis ante pulvinar sed
                    deleniti.
                </div>

                <div class="row">
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../src/assets/img/icons/phone.svg" alt="">
                        </div>
                        <div class="snoop-name">Phone</div>
                        <a class="snoop-desc" href="tel:+380730625573">+380730625573</a>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../src/assets/img/icons/mail.svg" alt="">
                        </div>
                        <div class="snoop-name">E - mail</div>
                        <a class="snoop-desc" href="mailto:support@darinx.com">support@darinx.com</a>
                    </div>
                    <div class="col-sm-4 item">
                        <div class="icon">
                            <img src="../../src/assets/img/icons/local.svg" alt="">
                        </div>
                        <div class="snoop-name">Adress</div>
                        <a class="snoop-desc" target="_blank"
                           href="https://goo.gl/maps/RFJExtnnacU2">Adressstreet</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <form action="" @submit="concatUs" class="contact-us-form" novalidate="true">
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.name"> {{errorMail.name}} </div>
                    <input type="text" v-model.lazy="contactForm.name" placeholder="Your name…">
                </div>
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.email"> {{errorMail.email}} </div>
                    <input type="email" v-model.lazy="contactForm.email" placeholder="Your e-mail…">
                </div>
                <div class="form-group">
                    <div class="error-field" v-if="errorMail.text"> {{errorMail.text}} </div>
                    <textarea placeholder="Message text " rows="1" v-model.lazy="contactForm.text"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-lg dark-btn">SEND</button>
                </div>
            </form>
        </div>

        <sing-up-small></sing-up-small>

    </section>
</template>

<script>
    import singUpSmall from '../components/singUpSmall'
    export default {
        name: "ContactPage",
        components:{
            'sing-up-small': singUpSmall
        },
        data() {
            return {
                name: 'map',
                map: '',
                contactForm: {
                    name: '',
                    email: '',
                    text: ''
                },
                errorMail: {
                    name: null,
                    email: null,
                    text: null
                }

            }
        },
        watch:{
            contactForm:{
                handler(){
                    if(this.contactForm.name.length){
                        this.errorMail.name = null
                    }
                    if(this.contactForm.email.length){
                        this.errorMail.email = null
                    }
                    if(this.contactForm.text.length){
                        this.errorMail.text = null
                    }


                },deep:true,
            }
        },
        computed: {
            mapMarkers: function () {
                return this.markers
            }
        },
        mounted: function () {

            const element = document.getElementById(this.name)
            const options = {
                zoom: 14,
                center: new google.maps.LatLng(46.4338179, 30.7590887),
                zoomControl: true,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.TOP_LEFT,
                }
            };
            this.map = new google.maps.Map(element, options);

            let iconBase = require('@/assets/img/icons/local.png');

            let l_lat_lng = [46.4338179, 30.7590887];

            let marker = new google.maps.Marker({
                position: {lat: +l_lat_lng[0], lng: +l_lat_lng[1]},
                icon: iconBase,
                map: this.map,
            });
        },
        methods:{
            concatUs(e){
                e.preventDefault();

                if (!this.contactForm.name) {
                    this.errorMail.name ='Укажите имя.';
                }

                if (!this.contactForm.text) {
                    this.errorMail.text = 'введите текст';
                }
                if (!this.contactForm.email) {
                    this.errorMail.email = 'Укажите электронную почту.';
                } else if (!this.validEmail(this.contactForm.email)) {
                    this.errorMail.email = 'Укажите корректный адрес электронной почты.';
                }

                /*if (!this.errorMail.length) {
                    return true;
                }*/


            },
            validEmail: function (email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>

</style>
