<template>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <home-slider></home-slider>
                </div>
            </div>
        </div>
        <div class="container hot-category">
            <div class="row">
                <div v-for="product in params.hotProducts" class="col-md-6">
                    <router-link :to="{name: 'product', params: {slug: product.id} }" class="item">
                        <div class="image-item">
                            <div class="img" :style="{ backgroundImage:`url(${product.img})`  }"></div>
                        </div>
                        <div class="name-item">{{product.name}}</div>
                    </router-link>
                </div>

            </div>
        </div>
        <div class="container-fluid special-offers">
            <div class="row">
                <div class="col-12 p-0">
                    <special-offer :specialOffers="specialOffers"></special-offer>

                </div>
            </div>
        </div>
        <div class="container hot-news">
            <div class="title-section"><span>Hot New</span></div>
            <div class="row">
                <div class="col-md-4" v-for="news in params.hotNews">
                    <div class="item-hot-new">
                        <div class="img-new">
                            <router-link
                                    :to="{ name: 'singlePost', params: { slug: news.id }}"
                                    :style="{ backgroundImage: `url(${news.img})`  }">
                            </router-link>
                        </div>
                        <div class="title-new">{{news.title}}</div>
                        <div class="date-new">{{news.date}}</div>
                        <div class="small-new">
                            {{news.description}}
                            <a href="#" class="accent-color">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <sing-up></sing-up>

    </section>


</template>

<script>

    import params from '../lorem-params';
    import homeSlider from '../components/home-slider';
    import specialOffers from '../components/specialOffers';
    import singUp from '../components/singUp'

    export default {
        name: "home",
        components: {
            'special-offer': specialOffers,
            'home-slider': homeSlider,
            'sing-up': singUp
        },
        data() {
            return {
                params: params,
                specialOffers: {
                    name: 'Metal Paradise',
                    price: 80,
                    oldPrice: 120,
                    endTime: '17.08.2020',

                }


            }
        },

    }
</script>

<style scoped>

</style>
