<template>
    <section class="shop">
        <div class="top-block">

        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <form class="panel-shop">
                        <div class="panel-group">
                            <div class="title">Category</div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" v-model="requestFilter.сategory" value="1">
                                    <span class="name">BOWLS</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" v-model="requestFilter.сategory" value="2">
                                    <span class="name">Spoons</span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" v-model="requestFilter.сategory" value="3">
                                    <span class="name">Forks</span>
                                </label>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="title">Price</div>
                            <div class="form-group">
                                <vue-slider
                                        ref="slider"
                                        v-model="valuePrice"
                                        v-bind="options"
                                        @click.native="dragEndRagge"
                                ></vue-slider>
                                <span class="name">Price: ${{valuePrice[0]}} - ${{valuePrice[1]}} </span>
                            </div>
                        </div>

                        <div class="panel-group">
                            <div class="title">Sale</div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" v-model="requestFilter.sale">
                                    <span class="name">True</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <div class="info-show text-sm-left text-center">
                                Showing 1- 9 of 125 results
                            </div>
                        </div>
                        <div class="col-sm-6 text-sm-right text-center">
                            <select v-model="orderby" class="orderby">
                                <option value="menu_order" selected="selected">Default sorting</option>
                                <option value="price">Sort by price: low to high</option>
                                <option value="price-desc">Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-4" v-for="(product, index) in products">
                            <preview-product :product="product" :key="product.id" :slug="product.id"></preview-product>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
    import productsRelated from '../related-poducts'

    import vueSlider from 'vue-slider-component';
    import previewProductComponent from '../components/PreviewProductComponent'

    export default {
        name: "ProductsListPage",
        components: {
            'preview-product': previewProductComponent,
            vueSlider
        },
        data() {
            return {
                firstCollectionProducts: productsRelated,
                products: productsRelated,
                requestFilter: {
                    сategory: [],
                    sale: null,
                    price: []
                },
                orderby: 'menu_order',
                paramsFilter: {},
                valuePrice: [0, 100],
                options: {
                    eventType: 'auto',
                    width: 'auto',
                    height: 3,
                    dotSize: 8,
                    min: 0,
                    max: 100,
                    interval: 1,
                    show: true,
                    speed: 1,
                    tooltip: false,
                    tooltipDir: 'top'
                }

            }
        },
        watch: {
            '$route'(to, from) {
                let params = to.query,
                    oldProductsArr = this.firstCollectionProducts


                let newCollectionProducts = oldProductsArr;
                if (params.hasOwnProperty('сategory')) {
                    params.сategory = params.сategory.split(',')
                    let filterByCategoryes = [];
                    for (let cat of params.сategory) {
                        let findProduct = newCollectionProducts.filter(prod => prod.category_id === +cat)
                        filterByCategoryes = filterByCategoryes.concat(findProduct)
                    }
                    newCollectionProducts = filterByCategoryes

                }
                if (params.hasOwnProperty('sale')) {
                    if (params.sale) {
                        newCollectionProducts = newCollectionProducts.filter(prod => prod.sale === true)
                    }
                }
                if (params.hasOwnProperty('price')) {
                    params.price = params.price.split(',')
                    newCollectionProducts = newCollectionProducts.filter(prod => prod.price >= params.price[0] && prod.price <= params.price[1])
                }

                if (params.length == 0) {
                    newCollectionProducts = oldProductsArr;
                }
                this.products = newCollectionProducts;


                let minMaxPrice = []
                for (let prod of this.products) {
                    minMaxPrice.push(prod.price)
                }
                this.valuePrice[0] = _.min(minMaxPrice)
                this.valuePrice[1] = _.max(minMaxPrice)


            },
            requestFilter: {
                handler: function (newProp) {
                    console.log(newProp)
                    console.log(this.paramsFilter)
                    if (newProp.price != null && newProp.price.length != 0) {
                        this.paramsFilter.price = newProp.price.toString()
                    }
                    if (newProp.сategory.length) {
                        this.paramsFilter.сategory = newProp.сategory.toString()
                    } else {
                        delete this.paramsFilter.сategory
                    }


                    if (newProp.sale != null ) {
                        this.paramsFilter.sale = newProp.sale


                    }

                    this.$router.push({query: this.paramsFilter})

                },
                deep: true
            },
            orderby: {
                handler: function (newProp, oldProp) {
                    if(newProp === 'price'){
                        this.products = _.sortBy(this.products, [(o)=> {return o.price}  ])
                    }else if(newProp === 'price-desc'){
                        this.products = _.sortBy(this.products, [(o)=> {return o.price}  ]).reverse()
                    }
                }
            }
        },
        mounted() {
            if (this.$route.query.hasOwnProperty('sale')) {
                this.requestFilter.sale = JSON.parse(this.$route.query.sale)

            }
            if (this.$route.query.hasOwnProperty('сategory')) {
                this.requestFilter.сategory = this.$route.query.сategory.split(',')

            }
            if (this.$route.query.hasOwnProperty('price')) {
                this.requestFilter.price[0] = +this.$route.query.price.split(',')[0]
                this.requestFilter.price[1] = +this.$route.query.price.split(',')[1]+1

            }




        },
        methods: {
            dragEndRagge() {
                this.requestFilter.price = this.valuePrice
            }
        }
    }
</script>

<style scoped>

</style>
