<template>
    <section class="single-product">
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-5">
                    <div class="product-gallery">
                        <gallery :images="product.images" :index="index" @close="index = null"></gallery>
                        <div class="row">
                            <div
                                    v-for="(image, indx) in product.images"
                                    :key="indx"
                                    @click="index = indx"
                                    :class="['img-product', !indx ? 'col-12':'col-3' ]"
                            >

                                <div class="img"
                                     :style="{backgroundImage: `url(${image})`}"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-7 pl-4">
                    <div class="product-name">
                        {{product.name}}
                    </div>
                    <div class="rating mb-3">
                        <star-rating :rating="5" :star-size="16" :read-only="true"></star-rating>
                        (1 customer review)
                    </div>
                    <div class="short-desc mb-3">
                        {{product.shortDescription}}
                    </div>
                    <div class="properties mb-5">
                        <div class="title-prop">BENEFITS</div>
                        <div class="text">{{product.properties}}</div>
                    </div>
                    <div class="event-block">
                        <div class="row">
                            <div class="col-md-6 product-price">${{product.price}}</div>
                            <div class="col-md-6 text-right">
                                <a href="#" class="add-to-cart add-accent"><span class="icon-shape mr-2"></span>BUY ON
                                    AMAZON</a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="container p-0">
            <div class="product-info mb-5">
                <b-tabs>
                    <b-tab title="DESCRIPTION" active>

                        {{product.description}}
                    </b-tab>
                    <b-tab title="ADDITIONAL INFORMATION">
                        {{product.aditionalInfo}}
                    </b-tab>
                    <b-tab :title="`REVIEWS (${sumReviews})`" >
                        <div
                                class="item-review"
                                v-for="(rev, index) in product.reviews"
                                :key="index"
                        >
                            <div class="avatar-author" :style="{backgroundImage: `url(${rev.avatar})`}"></div>
                            <div class="body-rew">
                                <div class="info-ref">
                                    <div class="date">{{rev.author}} <span>{{rev.date}}</span></div>
                                    <div class="rating">
                                        <star-rating :rating="rev.rating" :star-size="16"
                                                     :read-only="true"></star-rating>
                                    </div>
                                </div>
                                <div class="text-ref">{{rev.text}}</div>
                            </div>
                        </div>
                        <div class="add-review">
                            <div class="title-block">Add a review</div>
                            <div class="sub-title">Your email address will not be published. Required fields are marked *</div>
                            <form action="">
                                <div class="form-group">
                                    <span>Your Rating</span>
                                    <star-rating :star-size="16"></star-rating>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Enter your Name...">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Enter your e-mail...">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea
                                            placeholder="Enter your comment..."
                                            rows="4"
                                            maxlength="65525"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-md dark-btn">SEND</button>
                                </div>

                            </form>
                        </div>
                    </b-tab>
                </b-tabs>
            </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <related-products></related-products>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import products from '../products'

    import StarRating from 'vue-star-rating'
    import VueGallery from 'vue-gallery';
    import RelatedProductsComponent from '../components/RelatedProductsComponent'

    export default {
        name: "SimpleProductPage",
        components: {
            'gallery': VueGallery,
            StarRating,
            'related-products': RelatedProductsComponent
        },
        data() {
            return {
                product: null,
                index: null,
                sumReviews: 0
            }
        },
        watch: {
            '$route' (to, from) {
                let indexProduct = _.findIndex(products, {id: +this.$route.params.slug});
                this.product = products[indexProduct]
                this.sumReviews = this.product.reviews.length
            }
        },
        beforeMount() {
            let indexProduct = _.findIndex(products, {id: +this.$route.params.slug});
            this.product = products[indexProduct]
            this.sumReviews = this.product.reviews.length

        }

    }
</script>

<style scoped>

</style>
