<template>
    <section class="single-post">
        <div class="container">
            <h1>{{post.title}}</h1>
            <p>
                {{post.date}}
            </p>
            <p>
                {{post.desc}}
            </p>
            <p>
                <img width="255" :src="post.img" alt="">
            </p>
            <p>

            </p>

        </div>

    </section>
</template>

<script>
    import posts from '../blog-posts'
    export default {
        name: "SinglePostPage",
        data(){
            return{
                post: null
            }

        },
        beforeMount(){
            let indexPost = _.findIndex(posts.data, {id: +this.$route.params.slug})
            this.post = posts.data[indexPost]
        }
    }
</script>

<style scoped>

</style>
