.top-bg {
  height: 216px;
  background-position: center;
  background-size: cover;
  margin-bottom: 45px;
}

.blog-page {
  .top-bg {
    background-image: url(./assets/img/blog-bg.jpg);
  }
}

.prev-single-post {
  border: 1px solid #e1e1e1;
  margin-bottom: 35px;
  .img {
    a {
      display: block;
      padding-top: 66.6%;
      background-size: cover;
      background-position: center;
    }
  }
  .title-post {
    font-weight: 500;
    padding: 15px 15px 0;
  }
  .date-post {
    padding: 0 15px 5px;
    color: $accent-color;
  }
  .small-desc-post {
    padding: 0 15px 15px;
    border-bottom: 1px solid #e1e1e1;
  }
  .small-info-post{
    display: flex;
    a{
      cursor: pointer;
      color: $light-color;
      display: block;
      text-align: center;
      padding: 15px;
      width: 100%;
    }
    .comments-block,
    .likes-block{
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        margin: 0 5px;
      }
      span{
        padding: 0 3px;
      }
    }
    .likes-block{
      &.submit-like{
        .d-icon-heart{
          opacity: 1;
        }
      }
    }
  }

}

