// Taken from: https://github.com/thoughtbot/bourbon/blob/master/app/stylesheets/css3/_font-face.scss
// Order of the includes matters, and it is: normal, bold, italic, bold+italic.


@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    src: url($file-path);
  }
}


//accent fonts for titles
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Black.ttf', 900);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Black.ttf', 900);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf', 900, italic);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf', 700);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf', 700, italic);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf', 400);
@include font-face('Playfair Display',  '/static/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf', 400, italic);

// font for content
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Black.ttf', 900);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-BlackItalic.ttf', 900, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-ExtraBold.ttf', 800);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-ExtraBoldItalic.ttf', 800, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Bold.ttf', 700);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Bold.ttf', 700, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-SemiBold.ttf', 600);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-SemiBoldItalic.ttf', 600, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Medium.ttf', 500);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-MediumItalic.ttf', 500, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Regular.ttf', 400);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Italic.ttf', 400, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-Light.ttf', 300);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-LightItalic.ttf', 300, italic);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-ExtraLight.ttf', 300);
@include font-face('Poppins', '/static/fonts/Poppins/Poppins-ExtraLightItalic.ttf', 300, italic);





//@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
