.home-slider {
  margin-top: -61px;
  //min-height: 100vh;
  .lef-big-img-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .left-cont, .right-cont{
    padding: 58px 70px;
  }
  .left-cont{
    background-image: linear-gradient(180deg, #66d9d9 0%, #00b8b5 100%);
    position: relative;
    .container-left-slider{
      position: absolute;
      left: 70px;
      right: 0;
      top: 58px;
      bottom: 58px;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
      background-image: linear-gradient(180deg, #97ebea 0%, #66d9d9 100%);
      padding: 30px 8%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .sub-title-slide,
      .title-slide,
      .desc-slide,
      .price-slide,
      .add-to-cart{
        transform: translate(-200%,0%);
        transition: transform 0.355s;
      }

      .sub-title-slide{
        font-size: 16px;
        font-weight: 500;
        color: $md-color;
        margin-bottom: 15px;
        transition-delay: 0.5s;
      }
      .title-slide{
        font-size: $lg-font;
        font-weight: 700;
        letter-spacing: 0.55px;
        line-height: 46px;
        font-family: $accent-font;
        white-space: pre-line;
        margin-bottom: 60px;
        transition-delay: 0.75s;
      }
      .desc-slide{
        color: $md-color;
        font-family: $accent-font;
        font-size: 16px;
        letter-spacing: -0.3px;
        margin-bottom: 20px;
        transition-delay: 1s;
      }
      .price-slide{
        font-size: 20px;
        color: $md-color;
        font-weight: 600;
        margin-bottom: 50px;
        transition-delay: 1.25s;
      }
      .add-to-cart{
        width: 150px;
        transition-delay: 1.5s;

      }



    }
    .social-block{
      position: absolute;
      bottom: 0;
      left: 10%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      a{
        padding: 20px;
      }
      &:before{
        content: '';
        display: block;
        width: 29px;
        height: 1px;
        border-top: 1px solid $def-color;
        margin-right:  10px;
      }
    }
  }
  .right-cont{
    position: relative;
    .img-slide,
    .blur-img{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .img-slide{
      position: absolute;
      left: 0;
      top: 58px;
      bottom: 58px;
      right: 70px;
      box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);

    }
    .blur-img{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      filter: blur(4px);
    }
  }

  .agile__slide{
    &.agile__slide--active{
      .left-cont .container-left-slider{
        .sub-title-slide,
        .title-slide,
        .desc-slide,
        .price-slide,
        .add-to-cart{
          transform: translate(0%,0%);
        }
      }
    }
  }
}

.agile {
  &__dots {
    bottom: 0;
    left: 10px;
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //display: none;
  }
  &__dot {
    margin-bottom: 10px;
    button {
      background-color: transparent;
      border: 1px solid #fff;
      margin-top: 10px;
      display: block;
      width: 14px;
      height: 14px;
      color: transparent;
      border-radius: 50px;
      &:hover {
        background-color: #fff;
      }
    }
    &--current {
      button {
        background-color: #fff;
      }
    }
  }
}

.slide {
  min-height: 100vh;

  background: {
    position: center;
    size: cover;
  }
  &--1 {
    background-image: url(/assets/img/uploads/1.jpg);
  }
}



.agile__slide{
  .img-slide,
  .container-left-slider{
    opacity: 0;
    transition: opacity 1.55s;
  }
  &.agile__slide--active{
    .img-slide,
    .container-left-slider{
      opacity: 1;

    }




  }
}
@media all and (max-width: 767px){
  .home-slider .left-cont{
    .container-left-slider{
      right: 70px;
    }
    .right-cont{
      display: none;
    }
  }
}

