
//font colors
$balck: #000;
$white: #fff;
$def-color: #1f1f1f;
$md-color: #565656;
$light-color: #989897;
$accent-color: #3aa898;

//background colors
$bg-color: #3acbca;
$accent-background: #00b8b5;
$bg-accent-light: #8ae6e6;


//font sizing
$lg-font: 40px;
$md-font: 32px;
$sm-font: 24px;
$def-font: 14px;
$xs-fonts: 10px;

//kill bootstrap vars
$success:  $accent-background !default;
$primary: $def-color !default;


$def-font: 'Poppins', sans-serif;
$accent-font: 'Playfair Display', serif;
