<template>
    <section class="home-slider">

        <agile :options="optionSlider"  :autoplaySpeed="7500">
            <div class="slide slide--1 d-flex" v-for="(slide, indx) in sliders">

                <div class="w-100">
                    <div class="row h-100">
                        <div class="col-md-6 p-0 justify-content-center align-content-center d-flex h-100 left-cont">

                            <div class="container-left-slider">

                                <div class="sub-title-slide">{{slide.subtitle}}</div>
                                <div class="title-slide">{{slide.title}}</div>

                                <div class="desc-slide">{{slide.description}}</div>
                                <div class="price-slide">{{slide.price}}</div>

                                <router-link :to="{ name: 'product', params:{slug:  slide.idProd} }"
                                   class="add-to-cart"><span class="icon-shape"></span>ADD TO CARD</router-link>


                            </div>

                            <div class="social-block">
                                <a href="#"> <i class="d-icon d-icon-facebook"></i></a>
                                <a href="#"> <i class="d-icon d-icon-twitter"></i> </a>
                                <a href="#"> <i class="d-icon d-icon-instagram"></i> </a>
                            </div>

                        </div>
                        <div class="col-md-6 h-100 p-0 lef-big-img-slide right-cont">
                            <!--<img :src="slide.img" alt="">-->
                            <div class="blur-img" :style="{backgroundImage:`url(${slide.img})`  }"></div>
                            <div class="img-slide" :style="{backgroundImage:`url(${slide.img})`  }"></div>
                        </div>
                    </div>
                </div>


            </div>

        </agile>


    </section>
</template>

<script>

    export default {
        name: "home-slider",
        components: {},
        data: () => ({
            optionSlider: {
                arrows: false,
                timing: 'ease',
                fade: true,
                autoplay: true,
                pauseOnHover: true,
                autoplaySpeed: 7500,
                dots: true

            },
            sliders: [
                {
                    idProd: 1,
                    img: require('@/assets/img/uploads/1.png'),
                    subtitle: 'Make your kitchen special 1',
                    title: 'Beautiful Bowl\n' +'The New Collection',
                    description: 'Five sizes collection & fruits as a present',
                    price: '$ 150',
                    link: '#'

                },
                {
                    idProd: 2,
                    img: require('@/assets/img/uploads/2.png'),
                    subtitle: 'Make your kitchen special 2',
                    title: 'Beautiful Bowl\n' +'The New Collection',
                    description: 'Five sizes collection & fruits as a present',
                    price: '$ 150',
                    link: '#'
                },
                {
                    idProd: 3,
                    img: require('@/assets/img/uploads/3.png'),
                    subtitle: 'Make your kitchen special 3',
                    title: 'Beautiful Bowl\n' +'The New Collection',
                    description: 'Five sizes collection & fruits as a present',
                    price: '$ 150',
                    link: '#'
                }
            ],

        })
    }
</script>

<style scoped lang="scss">

</style>
