<template>
    <nav :class="[{'dark-nav': toogleClass}, 'container-fluid px-5']">
        <b-navbar toggleable="md" type="" variant="">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>


            <b-navbar-brand :to="{ name: 'home'}">
                <img src="../assets/img/dark-logo.svg" alt="" class="logo dark-log">
                <img src="../assets/img/logo-light.svg" alt="" class="logo light-log">
            </b-navbar-brand>
            <b-collapse is-nav id="nav_collapse">

                <b-navbar-nav class="w-100 left-line">

                    <b-nav-item-dropdown text="SHOP BY CATEGORIES" right>
                        <b-dropdown-item href="#">CATEGORIES1</b-dropdown-item>
                        <b-dropdown-item href="#">CATEGORIES2</b-dropdown-item>
                        <b-dropdown-item href="#">CATEGORIES3</b-dropdown-item>
                        <b-dropdown-item href="#">CATEGORIES4</b-dropdown-item>
                    </b-nav-item-dropdown>


                    <b-nav-item-dropdown  text="COLLECTIONS" right>
                        <!-- Using button-content slot -->
                        <b-dropdown-item href="#">COLLECTIONS1</b-dropdown-item>
                        <b-dropdown-item href="#">COLLECTIONS2</b-dropdown-item>
                        <b-dropdown-item href="#">COLLECTIONS3</b-dropdown-item>
                        <b-dropdown-item href="#">COLLECTIONS4</b-dropdown-item>
                    </b-nav-item-dropdown>


                </b-navbar-nav>
                <!-- Right aligned nav items -->

                <b-navbar-nav class="w-100 justify-content-end">
                    <b-navbar-nav>
                        <b-nav-item><router-link :to="{name: 'home'}" exact>  HOME</router-link></b-nav-item>
                        <b-nav-item><router-link :to="{name: 'about-us'}">ABOUT US</router-link></b-nav-item>
                        <b-nav-item><router-link :to="{name: 'products'}">PRODUCTS</router-link></b-nav-item>
                        <b-nav-item><router-link :to="{name: 'blog'}">BLOG</router-link></b-nav-item>
                        <b-nav-item><router-link :to="{name: 'contact-us'}">CONTACT</router-link></b-nav-item>
                        <a href="#" class="nav-cart"></a>
                    </b-navbar-nav>

                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
    </nav>
</template>

<script>
    export default {
        name: "NavBar",
        data(){
            return{
                urlPage: '',
                toogleClass: true
            }
        },
        watch: {
            '$route' (to, from) {
                if(this.$router.history.current.name === 'home'){
                    this.toogleClass = false
                }else{
                    this.toogleClass = true
                }
            }
        },
        beforeMount(){
            if(this.$router.history.current.name === 'home'){
                this.toogleClass = false
            }else{
                this.toogleClass = true
            }

        },
        beforeRouteUpdate(){

        }
    }
</script>

<style scoped>

</style>
