<template>
    <div class="col-md-4">
        <div class="prev-single-post">
            <div class="img">

                <router-link :to="{name: 'singlePost', params: {slug: post.id}}"
                             :style="{backgroundImage: `url(${post.img})` }"></router-link>
            </div>
            <div class="title-post">{{post.title}}</div>
            <div class="date-post">{{post.date}}</div>
            <div class="small-desc-post">{{post.desc}}</div>
            <div class="small-info-post">
                <a :class="['likes-block', {'submit-like': post.like} ]" @click="submitLike(post.like)">
                    <i class="d-icon d-icon-heart"></i>
                    <span v-if="post.sumLikes">{{post.sumLikes}}</span>
                    <span v-else>NO</span>
                    <span> LIKES</span>
                </a>
                <a class="comments-block">
                    <i class="d-icon d-icon-comments"> </i>
                    <span v-if="post.sumComments"> {{post.sumComments}} </span>
                    <span v-else> NO </span>
                    COMMENTS
                </a>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "postsList",
        props: ['post'],
        data() {
            return {

            }
        },
        methods: {
            submitLike(arg) {
                console.log(arg)


                this.post.like = !arg
                if (arg) {
                    this.post.sumLikes = --this.post.sumLikes
                } else {
                    this.post.sumLikes = ++this.post.sumLikes
                }
            }
        }
    }
</script>

<style scoped>

</style>
