<template>
    <div class="prev-single-product">
        <router-link :to="{name: 'product', params: {slug: slug}}"

                     class="img" :style="{backgroundImage: `url(${product.images[0]})`}">
            <div class="sale" v-if="product.sale">SALE</div>
        </router-link>
        <div class="product-info">
            <div class="row">
                <div class="col-md-5">
                    <div class="prod-name">{{product.name}}</div>
                    <div class="prod-category">{{product.category}}</div>
                    <div class="price">
                        <div class="olf-price mr-2" v-if="product.sale">${{product.oldPrice}}</div>
                        ${{product.price}}
                    </div>
                </div>
                <div class="col-md-7">
                    <a href="#"
                       class="add-to-cart add-accent">
                        <span data-v-6bc863e8="" class="icon-shape mr-2"></span>
                        BUY ONAMAZON
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SingleProduct",
        props: ['product', 'slug'],
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
