<template>
    <div class="position-relative content-block">

        <div class="info-block">
            <div class="title-offers">
                Special Offer
                <br>
                Of The Month
            </div>
            <div class="product-name">
                {{specialOffers.name}}
            </div>
            <div class="d-flex justify-content-between">
                <a class="add-to-cart small-btn dark-btn">
                    <span class="icon-shape"></span>
                    ADD TO CARD
                </a>

                <div class="price-block">
                    <div class="old-price">$ {{specialOffers.oldPrice}}</div>
                    <div class="price">$ {{specialOffers.price}}</div>
                </div>
            </div>
            <div class="timer-offer">
                <div class="data-block  day">
                    {{days}}
                    <div class="name-data">Days</div>
                </div>
                <div class="data-block hours">
                    {{hours}}
                    <div class="name-data">Hours</div>

                </div>
                <div class="data-block minutes">
                    {{minutes}}
                    <div class="name-data">Minutes</div>

                </div>
                <div class="data-block second">
                    {{seconds}}
                    <div class="name-data">Seconds</div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        name: "specialOffers",
        props:['specialOffers'],
        data(){
            return{
                dataTimer:{
                    now: null,
                    day: 0,
                    hours: 0,
                    minutes: 0,
                    seconds: 0

                },
                day: null,

            }
        },
        beforeMount(){

            this.specialOffers.endTime = moment(this.specialOffers.endTime, 'DD/MM/YYYY').format('X')
            this.dataTimer.now = Math.trunc((new Date()).getTime() / 1000);
            window.setInterval(() => {
                this.dataTimer.now = Math.trunc((new Date()).getTime() / 1000);
            }, 1000);

        },
        computed:{
            seconds() {
                return (this.specialOffers.endTime - this.dataTimer.now) % 60;
            },

            minutes() {
                return Math.trunc(( this.specialOffers.endTime - this.dataTimer.now) / 60) % 60;
            },

            hours() {
                return Math.trunc((this.specialOffers.endTime - this.dataTimer.now) / 60 / 60) % 24;
            },

            days() {
                return Math.trunc(( this.specialOffers.endTime - this.dataTimer.now) / 60 / 60 / 24);
            }
        }
    }
</script>

<style scoped>

</style>
